.App {
  background-color: black;
  padding: 0.5em;
  text-align: center;
}

.button {
  margin: 0.5em;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 0.1px solid whitesmoke;
  overflow: hidden;
  cursor: pointer;
  color: white;
  outline: none;
}

.button:hover {
  color: black;
  background-color: tomato;
}


.container {
  text-align: center;
}

.page {
  position: absolute;
  overflow-y: auto;
  top: 100px;
  left: 0;
  right: 0;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 150ms linear;
}